$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  border: 3px solid black;
  margin: 20px;
  padding: 20px;
}

h1 {
  text-align: center;
  border: 3px solid black;
  margin: 20px;
  padding: 20px;
}

h4 {
  text-align: center;
  border: 3px solid black;
  margin: 20px;
  padding: 20px;
}

.gameBoard {
  border-width: inherit;
  text-align: center;
}

.row1 > #space0, #space1, #space2 {
  background-color: #e7e7e7;
  border: 3px solid black;
  font-size: 100px;
  height: 200px;
  margin: 10px auto;
  padding: 16px;
  text-align: center;
  width: 200px;
}

.row2 > #space3, #space4, #space5 {
  background-color: #e7e7e7;
  border: 3px solid black;
  font-size: 100px;
  height: 200px;
  margin: 10px auto;
  padding: 16px;
  text-align: center;
  width: 200px;
}

.row3 > #space6, #space7, #space8 {
  background-color: #e7e7e7;
  border: 3px solid black;
  font-size: 100px;
  height: 200px;
  margin: 10px auto;
  padding: 16px;
  text-align: center;
  width: 200px;
}

.start-finish-buttons {
  padding: 25px;
  text-align: center;
  font-size: 20px;
}
